extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row
    .col-12.col-md-8
      .error= message

      app-home-list
    .col-12.col-md-4
      p.lead= sidebar

block scripts
  script(src='/build/runtime.b35605b75f464692.js')
  script(src='/build/polyfills.5459ba8e1afdbb52.js')
  script(src='/build/main.5c79fa5a9d07dc3d.js')
